
footer{
    @media (max-width: 578px) {
        .container{
            flex-direction: column;
            gap: 10px;
        }
    }

    @include flex(row, center, center);
    padding: 10px 0;
    background-color: black;
    color: white;
    
    .font-size-15 {
        font-size: 15px;
    }
    .font-size-20 {
        font-size: 20px;
    }

    a:hover{
        color: $header-bg-color;
    }
    .right-side-ftr{
        max-width: 40%;
    }
}

