@use "./mixins" as *;
@use "./variables" as *;

header {
    @include flex(row, space-between, center);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: bold;

    background-color: $header-bg-color;

    // debug
    height: $header-heigth;
    color: white;

    .container {
        @include flex(row, space-between, center);
        height: 100%;

        ul {
            list-style-type: none;
            gap: 10px;

            @include flex(row, space-between, center);
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                @include flex(row, center, center);

                a {
                    text-decoration: none;
                    color: inherit;
                }

                height: 100%;
            }
        }

        .left-side {
            @include flex(row, space-between, center);
            gap: 30px;
            height: 100%;

            ul {
                li{

                    &:hover{
                        color: black;
                    }
                }
                .active {
                    border-bottom: 3px solid white;
                    &:hover{
                        border-color: black;
                    }
                }
            }
        }
        .right-side {
            @include flex(row, space-between, center);
            height: 100%;

            ul {
                li{

                    &:hover{
                        color: black;
                    }
                }
               
            }
        }
    }
}
